/*  This styles the background for PET finder.  */

/*  This sets the background of the body. */

body    {
    background-image: url("../images/pet-background.jpg");
}

/*  This styles the search box card. */

.card {
    margin-top: 10%;
    background: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  This styles the drop down button. */

#dropdown   {
    background: black;
    color: white;
    border: white;
}
.dogPhotos, .dogText {
    background-color: white;
    color: black;
}
.dogImage {
    width: 100%;
    height: auto;
}
