/*  This styles the background for PET finder.  */

/*  This sets the background of the body. */

body    {
    background-image: url("../images/pet-background2.jpg");
}

/*  This styles the search box card. */

.card {
    margin-top: 2%;
    background: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  This styles the drop down button. */

#dropdown   {
    background: black;
    color: white;
    border: white;
}

/* This styles the results' photos. */

.dogPhotos, .dogText {
    background-color: white;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dogImage {
    width: 100%;
    height: auto;
}

/*  This puts white background on pet description. */

#pet_description {
    background-color: white;
}

/*  This puts white background around results. */

#results    {
    background: white;
}

/*  This puts padding on bottom of results pictures. */

.pics   {
    padding-bottom: 2%;
}
